version: '3.8'

services:
  db:
    image: postgres:15-alpine
    restart: always
    # AGREGAR ESTO: Le decimos que lea el .env
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build: ./backend
    command: uvicorn app.main:app --reload --host 0.0.0.0 --port 8000
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
    # AGREGAR ESTO: Para que Python reciba las variables
    env_file:
      - .env
    # Ya no necesitamos definir DATABASE_URL aquí porque está en el .env

volumes:
  postgres_data: